body {
  margin: 0;
  font-family: "Monserrat", sans-serif;
  background-color: #ffffff;
  color:  #1b225f;
}

.navbar {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px; 
  background-color: #ffffff;
  padding: 15px 0;
  /* position: fixed; */
  top: 0;
  width: 100%;
}

.logo {
  width: 25vw;
  height: auto;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 30px;
  margin: 0;
  padding: 0;
}

.nav-links a {
  position: relative;
  color:  #1b225f;
  text-decoration: none;
  font-size: 20px;
  transition: color 0.3s;
}

.nav-links a::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -3px;            
  width: 0;                  
  height: 0.5px;               
  background-color: #606060; 
  transition: width 0.4s ease;
}

.nav-links a:hover::after {
  width: 100%;
}
.hamburger {
  display: none;
  flex-direction: column;
  justify-content: space-between;
  width: 35px;
  height: 30px;
  cursor: pointer;
  margin-bottom: 3%;
}

.hamburger span {
  display: block;
  height: 3px;
  width: 100%;
  background-color: #1b225f;
  border-radius: 2px;
}




.timeline {
  width: 100%;
  overflow-x: auto;  /* habilita scroll horizontal */
  overflow-y: hidden;
  padding: 60px 0;
  display: flex;
  justify-content: flex-start; /* alinea los items al inicio */
  scroll-behavior: smooth; 
}
/* EJE DE TIEMPO */
.timeline-track {
  display: flex;
  align-items: center;
  position: relative;
  width: max-content;
  padding: 0 20px;
}

.timeline-track::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 0;
  height: 4px;
  width: 100%;
  background-color:#1b225f;
  transform: translateY(-50%);
  z-index: 1;
}

/* ITEMS */
.timeline-item {
  position: relative;
  flex: 0 0 300px;
  margin: 0 15px; 
  text-align: center;
  z-index: 2;
  scroll-snap-align: start;
}


.timeline-item {
  scroll-snap-align: start;
}

.timeline-content {
  background: white;
  border-radius: 12px;
  padding: 20px;
  box-shadow: 0 4px 20px rgba(0,0,0,0.1);
  transition: all 0.6s ease;
  opacity: 0;
  transform: translateY(50px);
}

.timeline-content.show {
  opacity: 1;
  transform: translateY(0);
}

.rojo{
  color: #ba6543;
  margin-bottom: 10px;
  font-size: 20px;
}
.verde{
  color:  #46ba43;
  margin-bottom: 10px;
  font-size: 20px;
}
.timeline-content p {
  color:  #1b225f;
  margin-bottom: 10px;
  font-size: 15px;
  opacity: 0;
  max-height: 0;
  overflow: hidden;
  transition: all 0.4s ease;
}
.timeline-content:hover p {
  opacity: 1;
  max-height: 200px;
  margin-top: 10px;
}
.timeline-content.active p {
  opacity: 1;
  max-height: 200px;
  margin-top: 10px;
}
.timeline-periods {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 60px;
  margin: 80px auto;
  flex-wrap: wrap;
  max-width: 1000px;
}

.period {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 12px;
  font-family: "Poppins", sans-serif;
  background-color: #ffffff;
  border-radius: 10px;
  padding: 10px 20px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.1);
  transition: transform 0.3s ease;
}

.period:hover {
  transform: translateY(-5px);
}

.period p {
  margin: 0;
  color: #1b225f;
  font-size: 16px;
  text-align: center;
}

.brace {
  font-size: 40px;
  color: #46ba43;
  line-height: 1;
}
.aRojo{
  text-decoration: none;
}
.aRojo:hover{
  text-decoration:underline;
  color: #ba6543;
}
.aVerde{
  text-decoration: none;
}
.aVerde:hover{
  text-decoration:underline;
  color: #46ba43;
}

/* Mobile (versión vertical) */
@media (max-width: 768px) {

  /* navbar */
  .navbar {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  background-color: #ffffff;
  padding: 15px 0;
  width: 100%;
  position: relative;
}

.logo {
  width: 65vw;
  height: auto;
}
.nav-links {
    display: none;
    flex-direction: column;
    align-items: center;
    background-color: #ffffff;
    width: 100%;
    padding: 15px 0;
  }

  .nav-links a {
  position: relative;
  color: #1b225f;
  text-decoration: none;
  font-size: 25px;
  transition: color 0.3s;
}

  .nav-links.active {
    display: flex;
  }

  .hamburger {
    display: flex;
  }

  /* main */
  .timeline {
    overflow-x: hidden;
    overflow-y: visible;
    padding: 40px 20px;
  }

  .timeline-track {
    display: block;
    position: relative;
    padding: 0;
  }

  .timeline-track::before {
    left: 20px;
    top: 0;
    width: 4px;
    height: 100%;
    transform: none;
  }

  .timeline-item {
    flex: none;
    margin: 40px 0 0 40px;
    text-align: left;
  }

  .timeline-content {
    width: calc(100% - 60px);
  }
  .timeline-periods {
    flex-direction: column;
    align-items: center;
    gap: 20px;
  }

  .period {
    width: 90%;
    justify-content: space-between;
  }

  .brace {
    font-size: 32px;
  }
}