body {
  margin: 0;
  font-family: "Monserrat", sans-serif;
  background-color: #ffffff;
  overflow-x: hidden;
}

.navbar {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  background-color: #ffffff;
  padding: 15px 0;
  width: 100%;
  position: relative;
}

.logo {
  width: 25vw;
  height: auto;
}

/* Links */
.nav-links {
  list-style: none;
  display: flex;
  gap: 30px;
  margin: 0;
  padding: 0;
}

.nav-links a {
  position: relative;
  color: #1b225f;
  text-decoration: none;
  font-size: 20px;
  transition: color 0.3s;
}

.nav-links a::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -3px;
  width: 0;
  height: 0.5px;
  background-color: #606060;
  transition: width 0.4s ease;
}

.nav-links a:hover::after {
  width: 100%;
}

/* Hamburguesa */
.hamburger {
  display: none;
  flex-direction: column;
  justify-content: space-between;
  width: 35px;
  height: 30px;
  cursor: pointer;
  margin-bottom: 3%;
}

.hamburger span {
  display: block;
  height: 3px;
  width: 100%;
  background-color: #1b225f;
  border-radius: 2px;
}

/* main */

.divObjetivo{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 80vh;
    background-color:  #1b225f;
    padding-bottom: 5vh;
}
.pObjetivo{
    color:  #ffffff;
    font-weight: 500;
    font-size: 30px;
    padding-left: 10vw;
    padding-right: 10vw;
    padding-bottom: 5vh;
    padding-top: 5vh;
}
.questions-container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  max-width: 1000px;
  margin: 0 auto;
  justify-content: center; /* centra las filas */
}

.question-card {
  background-color: #ffffff;
  padding: 18px 20px;
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.08);
  font-size: 18px;
  font-weight: 900;
  color: #46ba43;
  transition: transform 0.2s, box-shadow 0.2s;
  cursor: default;
  flex: 0 1 48%; /* mismo ancho para todas */
  box-sizing: border-box;
  text-align: center;

  display: flex;
  align-items: center;
  justify-content: center;

  /* altura uniforme */
  min-height: 90px;
}


.question-card:hover {
  transform: translateY(-3px);
  box-shadow: 0 6px 18px rgba(0,0,0,0.12);
}


.divEquipo{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
}
.pEquipo{
    color:  #1b225f;
    font-weight: 500;
    font-size: 30px;
    padding-left: 10vw;
    padding-right: 10vw;
    padding-bottom: 5vw;
}
.tituloEquipo{
    color:  #46ba43;
    font-weight: 800;
    font-size: 60px;
}

.divCards{
    width: 100vw;
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-bottom: 5vw;
}
.card {
  background-color: #fff;
  width: 300px;
  padding: 25px;
  border-radius: 20px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  text-align: center;
  transition: all 0.3s ease;
  margin-right: 50px;
  margin-left: 50px;
}

.card:hover {
  transform: translateY(-5px);
}

.card-img {
  width: 180px;
  height: 180px;
  border-radius: 50%;
  object-fit: cover;
  margin-bottom: 15px;
}

.card-title {
  font-size: 22px;
  color:  #1b225f;
  margin-bottom: 5px;
}

.card-text {
  font-size: 15px;
  color:  #1b225f;
  margin-bottom: 15px;
}

.extra-info {
  font-size: 14px;
  color:  #1b225f;
  line-height: 1.4;
  display: none;
  margin-bottom: 15px;
}

.card-btn {
  background-color: #76da73;
  color: #fff;
  border: none;
  padding: 10px 18px;
  border-radius: 8px;
  cursor: pointer;
  font-size: 15px;
  transition: background-color 0.3s;
}

.card-btn:hover {
  background-color: #46ba43;
}

.divBarra{
    width: fit-content;
    height: fit-content;
}
.barra{
    width: 100vw;
    height: 3vh;
}


.divLogo{
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    margin-top: 3vh;
    margin-bottom: 7vh;
}
.tituloLogo{
    color:  #46ba43;
    font-weight: 800;
    font-size: 30px;
    padding-left: 10vw;
}
.divLogoParrafos{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.pLogoUno{
    color:  #1b225f;
    font-weight: 500;
    font-size: 20px;
    padding-left: 10vw;
    padding-right: 10vw;
    text-align: justify;
}
.pLogoDos{
    color:  #1b225f;
    font-weight: 500;
    font-size: 20px;
    padding-right: 10vw;
    padding-left: 10vw;
    text-align: justify;
}
.divParrafosyLogo{
  display: flex;
  flex-direction: row;
  
}
.imgLogo{
  width: 430px;
  height: 430px;
  padding-right: 8vw;
}


@media screen and (min-width: 0px) and (max-width: 768px){

/* navbar */

.navbar {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  background-color: #ffffff;
  padding: 15px 0;
  width: 100%;
  position: relative;
}

.logo {
  width: 65vw;
  height: auto;
}
.nav-links {
    display: none;
    flex-direction: column;
    align-items: center;
    background-color: #ffffff;
    width: 100%;
    padding: 15px 0;
  }

  .nav-links a {
  position: relative;
  color: #1b225f;
  text-decoration: none;
  font-size: 25px;
  transition: color 0.3s;
}

  .nav-links.active {
    display: flex;
  }

  .hamburger {
    display: flex;
  }

/* main */

.divObjetivo{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: fit-content;
    background-color:  #1b225f;
    padding-bottom: 5vh;
    text-align: justify;
}
.pObjetivo{
    color:  #ffffff;
    font-weight: 500;
    font-size: 25px;
    padding-left: 10vw;
    padding-right: 10vw;
    padding-bottom: 5vh;
}
  .questions-container {
    flex-direction: row; /* seguimos en fila para usar gap */
    flex-wrap: wrap;
    justify-content: center;
    gap: 15px;
    padding: 10px;
  }

  .question-card {
    flex: 0 1 90%;   /* ocupa todo el ancho */
    font-size: 15px;
    padding: 15px 18px;
    height: 70px;      /* altura fija para todas las cards */
    min-height: 0;     /* sobreescribimos min-height */
  }

.divEquipo{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
}
.pEquipo{
    color:  #1b225f;
    font-weight: 500;
    font-size: 25px;
    padding-left: 5vw;
    padding-right: 5vw;
    padding-bottom: 10vw;
    text-align: justify;
}
.tituloEquipo{
    color:  #46ba43;
    font-weight: 800;
    font-size: 55px;
}

.divCards{
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 5vw;
}
.card {
  background-color: #fff;
  width: 90vw;
  padding: 15px;
  border-radius: 20px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  text-align: center;
  transition: all 0.3s ease;
  margin: 0;
  margin-bottom: 5vh;
}

.card:hover {
  transform: translateY(-5px);
}

.card-img {
  width: 280px;
  height: 280px;
  border-radius: 50%;
  object-fit: cover;
  margin-bottom: 15px;
}

.card-title {
  font-size: 30px;
  color:  #1b225f;
  margin-bottom: 5px;
}

.card-text {
  font-size: 25px;
  color:  #1b225f;
  margin-bottom: 15px;
}

.extra-info {
  font-size: 24px;
  color:  #1b225f;
  line-height: 1.4;
  display: none;
  margin-bottom: 15px;
}

.card-btn {
  background-color: #76da73;
  color: #fff;
  border: none;
  padding: 10px 18px;
  border-radius: 8px;
  cursor: pointer;
  font-size: 25px;
  transition: background-color 0.3s;
  margin-bottom: 2%;
}

.divParrafosyLogo{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.divLogo{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 3vh;
    margin-bottom: 10vh;
}
.tituloLogo{
    color:  #46ba43;
    font-weight: 800;
    font-size: 40px;
    padding-left: 5vw;
}
.divLogoParrafos{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.pLogoUno{
    color:  #1b225f;
    font-weight: 500;
    font-size: 25px;
    padding-left: 5vw;
    padding-right: 5vw;
}
.pLogoDos{
    color:  #1b225f;
    font-weight: 500;
    font-size: 25px;
    padding-left: 5vw;
    padding-right: 5vw;
    padding-bottom: 5vw;
}
.imgLogo{
  width: 450px;
  height: 450px;
  padding-right: 0;
}
}